.header{
  padding: 40px;
  margin: auto;
}

#direction{
  font-size: 15px;
  float: left;
  padding-top: 10px;
  margin-left: 87px;
  font-family: 'Trebuchet MS';
}

#navlista li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: -80px;
  margin-right: 90px;
  float: right;
  text-decoration: none;
  list-style: none;
  a{
    text-decoration: none;
    color: #8f8f8f;
  }
}
