
body{
  background-color:  #eaeced;
  p{
    font-size:1.400rem;
  }
}
.wrapper{
  font-family: $family;
  width: 600px ;
  max-width: 60%;
  margin: auto;
}
.header{
  padding: 50px;
}

#direction{
  padding: 20px;
  margin: 0 -70px;
  font-size: 15px;
  float: left;
  font-family: 'Trebuchet MS';
}

#navlista li {
  margin: 0 -50px;
  padding-left:120px;
  font-family: $family;
  float: right;
  text-decoration: none;
  list-style: none;
  a{
    text-decoration: none;
    color: #8f8f8f;
  }
}
