.wrapper{
  background-color: #eaeced;
  font-family: $family;
  margin: 0;
}
p{
  font-size:1.400rem;
}
// Contenido 1
.content-1{
    text-align: center;
    margin: $margin-content;
    padding-bottom:100px ;
    background-color: white;
      img{
        max-width: 100%;
      }
      p{
        padding: 25px;
      }
}
.btn-g {
    font-family:$family;
    padding: 15px 50px;
    border: 1px solid #7bb84f;
    background-color: #7bb84f;
    font-size:10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-g:hover{
    background-color: white;
    color:  #7bb84f;;
}




