.wrapper{
  background-color: #eaeced;
  max-width: 850px;
  margin: auto;
  padding: auto;
}
.content-1{
text-align: center;
margin: 0 125px 125px 125px;
background-color: white;

img{
  max-width: 100%;
}
}

.content-2{
  text-align: center;
  margin: 0 125px 125px 125px;
  background-color: white;
  padding-bottom: 100px;
  img{
    max-width: 100%;
  }
}


